<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/admin"><span class="glyphicon glyphicon-home"></span> Trang quản trị viên</a>
        </li>
        <li>
            <a href="/admin/list-users"><i class="fa fa-pencil-square-o"></i> Quản lý thành viên</a>
        </li>
        <li>
            <a href="/admin/list-agency"><i class="fa fa-pencil-square-o"></i> Quản lý nhà xe</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->