<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Trang quản lý nhà xe</a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#submenu-1"><span class="	fa fa-cubes"></span> Quản lý lịch trình <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-1" class="collapse">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Xem danh sách lịch trình</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Thêm lịch trình mới</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-pencil-square-o"></i> Quản lý vé</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> Thống kê</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->