

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">EC 1805</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
    
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <a class="btn btn-success btn-sm ml-3" href="#">
                        <i class="fa fa-shopping-cart"></i> Cart
                        <span class="badge badge-light">3</span>
                    </a>
                </form>

                <ul class="navbar-right nav navbar-nav" style="color: white; margin-left: 1em;">
                    <li class="dropdown nav-item">
                      <% if(locals.user) { %>
     
                        <% } %>
                        <% if(!locals.user) { %>
                      <a href="/signin" class="dropdown-toggle nav-link" role="button" style="color: white;" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i>
                        Đăng nhập </a>
                        <% } %>
                    </li>
            
                    <% if(locals.user) { %>
                    <li class="dropdown" ><a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" >Xin chào
                        <strong>
                          <%= user.username %></strong><span class="caret"></span></a>
                      <ul role="menu" class="dropdown-menu" style="padding: 1em;">
                          <hr style="margin: 0">
                        <li class="active"><a class="animate" href="/profile">Hồ sơ</a></li>
                        <hr style="margin: 0">
                        <li class="active"><a class="animate" href="/history-purchase">Lịch sử mua hàng</a></li>
                        <% if(locals.user.agency) { %>
                          <hr style="margin: 0">
                          <li class="animate"><a class="animate" href="/dashboard">Quản lý nhà xe</a></li>
                          <% } %>
                        <% if(locals.user.admin) { %>
                            <hr style="margin: 0">
                            <li class="animate"><a class="animate" href="/admin">Trang quản trị viên</a></li>
                        <% } %>
                          <hr style="margin: 0">
                        <hr style="margin: 0">
                        <li><a class="animate" href="#">Đổi mật khẩu</a></li>
                        <hr style="margin: 0">
                        <li><a class="animate" href="/logout">Đăng xuất</a></li>
                      </ul>
                    </li>
                    <% } %>
                  </ul>

            </div>
        </div>
    </nav>