<div class="row">
    <div class="col-md-3 ">
        <div class="list-group ">
            <a href="/profile" class="list-group-item list-group-item-action ">Thông tin cá nhân</a>
            <a href="/history-purchase" class="list-group-item list-group-item-action">Lịch sử mua hàng</a>
            <a href="/edit-profile" class="list-group-item list-group-item-action">Chỉnh sửa thông tin</a>
            <a href="/change-password" class="list-group-item list-group-item-action active">Đổi mật khẩu</a>
        </div>
    </div>


    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                

                    <div class="form-group row">
                        <label for="lastname" class="col-4 col-form-label">Nhập mật khẩu mới :</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="lastname" class="col-4 col-form-label">Nhập lại mật khẩu mới :</label>
                        <input type="password" class="form-control" id="reNewPassword" name="reNewPassword">
                    </div>
                    <button class="btn btn-primary" onclick="changePass()">Dặt lại mật khẩu</button>
             
            </div>
        </div>
    </div>

</div>
<script>
    function changePass(id) {
        const newPassword = $('#newPassword').val().toString();
        const reNewPassword = $('#reNewPassword').val().toString();
        if (newPassword !== reNewPassword) {
            alert('Mat khau nhap lai khong chinh xac');
            return;
        }
        const data = {
            newPassword,
            reNewPassword
        };
        $.ajax({
            type: "POST",
            url: "/change-password",
            data: data,
            async: false
        })
            .done(function (data) {
                window.location.href = "/profile";
            })
            .fail(function (err) {
                console.log("​cancelTicket -> err", err);
            });

    }
</script>